<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layouts/auth-layout :: header}"></th:block>

<body>
	<div class="login_form">
		<a class="home-button" th:href="@{/}">
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#fff" d="M4 19v-9q0-.475.213-.9t.587-.7l6-4.5q.525-.4 1.2-.4t1.2.4l6 4.5q.375.275.588.7T20 10v9q0 .825-.588 1.413T18 21h-3q-.425 0-.712-.288T14 20v-5q0-.425-.288-.712T13 14h-2q-.425 0-.712.288T10 15v5q0 .425-.288.713T9 21H6q-.825 0-1.412-.587T4 19"/></svg>
		</a>
		<!-- Login form container -->
		<form  th:action="@{/reset-password}" method="post">
			<h3>Reset Password</h3>

			<input type="hidden" name="token" th:value="${token}">
			<th:block th:replace="~{/fragments/alert :: alert}"></th:block>
		
			<div class="input_box">
				<label for="newPassword">New Password</label>
				<input type="password" name="password" id="newPassword" placeholder="Enter new password" required />
			</div>
			
			<button type="submit">Reset Password</button>
			<p class="sign_up">Already have credentials ? <a th:href="@{/login}">Sign in</a></p>
		</form>


	</div>

	<th:block th:replace="~{/layouts/auth-layout :: footer}"></th:block>
</body>

</html>