<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:fragment="footer">

		<footer class="footer">
			<svg class="footer-border" height="214" viewBox="0 0 2204 214" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					d="M2203 213C2136.58 157.994 1942.77 -33.1996 1633.1 53.0486C1414.13 114.038 1200.92 188.208 967.765 118.127C820.12 73.7483 263.977 -143.754 0.999958 158.899"
					stroke-width="2"></path>
			</svg>

			<div class="instafeed text-center mb-5">
				<h2 class="h3 mb-4">TASTEFUL DELIGHT</h2>

				<div class="instagram-slider slick-initialized slick-slider">

					<div class="slick-list draggable">
						<div class="slick-track"
							style="opacity: 1; width: 4316px; transform: translate3d(-1826px, 0px, 0px); transition: transform 300ms;">
							
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="-6" aria-hidden="true">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="-5" aria-hidden="true">
								<img th:src="@{/images/instagram/1.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="-4" aria-hidden="true">
								<img th:src="@{/images/instagram/3.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="-3" aria-hidden="true">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="-2" aria-hidden="true">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="-1" aria-hidden="true">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide" style="width: 166px;" tabindex="-1" data-slick-index="0" aria-hidden="true">
								<img th:src="@{/images/instagram/1.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide" style="width: 166px;" tabindex="-1" data-slick-index="1" aria-hidden="true">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide" style="width: 166px;" tabindex="-1" data-slick-index="2" aria-hidden="true">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide" style="width: 166px;" tabindex="-1" data-slick-index="3" aria-hidden="true">
								<img th:src="@{/images/instagram/3.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide" style="width: 166px;" tabindex="0" data-slick-index="4" aria-hidden="true">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-current slick-active" style="width: 166px;" tabindex="0" data-slick-index="5" aria-hidden="false">
								<img th:src="@{/images/instagram/1.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-active" style="width: 166px;" tabindex="0" data-slick-index="6" aria-hidden="false">
								<img th:src="@{/images/instagram/3.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-active" style="width: 166px;" tabindex="0" data-slick-index="7" aria-hidden="false">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-active" style="width: 166px;" tabindex="0" data-slick-index="8" aria-hidden="false">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-active" style="width: 166px;" tabindex="0" data-slick-index="9" aria-hidden="false">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned slick-active" style="width: 166px;" tabindex="-1" data-slick-index="10" aria-hidden="false">
								<img th:src="@{/images/instagram/1.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="11" aria-hidden="true">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="12" aria-hidden="true">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="13" aria-hidden="true">
								<img th:src="@{/images/instagram/3.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="14" aria-hidden="true">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="15" aria-hidden="true">
								<img th:src="@{/images/instagram/1.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="16" aria-hidden="true">
								<img th:src="@{/images/instagram/3.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="17" aria-hidden="true">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="18" aria-hidden="true">
								<img th:src="@{/images/instagram/2.jpg}" alt="Instagram image">
							</div>
							<div class="instagram-post slick-slide slick-cloned" style="width: 166px;" tabindex="-1" data-slick-index="19" aria-hidden="true">
								<img th:src="@{/images/instagram/4.jpg}" alt="Instagram image">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-5 text-center text-md-left mb-4">
						<ul class="list-inline footer-list mb-0">
							<li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
							<li class="list-inline-item"><a href="terms-conditions.html">Terms Conditions</a></li>
						</ul>
					</div>
					<div class="col-md-2 text-center mb-4">
						<a href="/"><img class="img-fluid" width="100px" src="/images/logo.png"
								alt="Recepe book"></a>
					</div>
					<div class="col-md-5 text-md-right text-center mb-4">
						<ul class="list-inline footer-list mb-0">

							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>

							<li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>

							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>

							<li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>

							<li class="list-inline-item"><a href="#"><i class="ti-youtube"></i></a></li>

						</ul>
					</div>
					<div class="col-12">
						<div class="border-bottom border-default"></div>
					</div>
				</div>
			</div>
		</footer>


		<!-- JS Plugins -->
		<script th:src="@{/plugins/jQuery/jquery.min.js}"></script>

		<script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
		
		<script th:src="@{/plugins/bootstrap/bootstrap.bundle.js}"></script>

		<script th:src="@{/plugins/slick/slick.min.js}"></script>

		<script th:src="@{/plugins/instafeed/instafeed.min.js}"></script>

		<script th:src="@{/plugins/summernote/summernote-lite.min.js}"></script>
		
		<!-- Main Script -->
		<script th:src="@{/js/script.js}"></script>
</body>

</th:block>
</body>

</html>