spring: 
  mail:
    username: example@gmail.com
    host: smtp.gmail.com
    port: 587
    password: xxxx xxxx xxxx xxxx
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          starttls:
             required: true
             enabled: true
        debug: true