<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="profile-heading">
		<div class="user-info">
					<div class="image-box">
						<img  th:src="${authUser.image}" alt="user-image">
					</div>
					<div class="user-head-details">
						<h3 th:text="${authUser.name}">John doe</h3>
						<div class="username"  th:text="${authUser.email}">email@gmail.com</div>
					</div>
					<a class="visit_button" href="/">Go to your personal profile</a>
				</div>
    </th:block>
</body>
</html>