<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/settings/partials/header :: header}"></th:block>

<div class="content">
	<div class="mb-4">
		<h3>Change Username</h3>
		<hr class="mt-0 mb-3">
		<p class="text-muted small mb-3">
			Changing your username can impact how others find or recognize you. Proceed only if necessary.
		</p>
		<button type="submit" class="btn btn-sm btn-outline-primary rounded">Change Username</button>

		<ul class="pt-3 px-3">
			<li>We <strong>will not</strong> set up redirects for your old profile page.</li>
			<li><strong>All</strong> of your previous links will no longer work.</li>
			<li>Renaming may take a few minutes to complete.</li>
		</ul>
	</div>

	<div class="mb-4">
		<h3 class="text-danger mt-4">Delete Account</h3>
		<hr class="mt-0 mb-3">
		<p class="text-muted small mb-3">
			This action is <strong>permanent</strong> and cannot be undone. Make sure you're absolutely certain before
			deleting your account.
		</p>
		<button type="submit" class="btn btn-sm btn-outline-danger rounded">Delete your account</button>
	</div>

</div>



<th:block th:replace="~{/settings/partials/footer :: footer}"></th:block>