<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/settings/partials/header :: header}"></th:block>

<div class="content users-list px-0 px-sm-4">
	<h3>Users</h3>
	<hr class="mt-0 mb-3">
	
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Image</th>
					<th>User Name</th>
					<th>Email</th>
					<th>Followers</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user, iterStat  : ${users}">
					 <th th:text="${firstItemIndex + iterStat.index + 1}"></th>
					<td >
						<div class="image-box">
							<img th:src="${user.image}" alt="user-image" >
						</div>
					</td>
					<td>
						<a class="post-title" th:href="@{'/u/' + ${user.username}}" th:text="${user.name}">
							User Name
						</a>
						<br>
						<i th:text="${'@' + user.username}"></i>
					</td>
					<td>
						<span class="" th:text="${user.email}"></span>
					</td>
					<td>
						<div>
							<span th:text="${user.followers}">0</span>
							<small>Followers</small>
						</div>
						<div>
							<span th:text="${user.following}">0</span>
							<small>Followings</small>
						</div>
					</td>
					<td>
						<div class="action-btns">
							<button class="more">
								<i class="ti-info-alt"></i>
							</button>
							<button class="share">
								<i class="ti-comments"></i>
							</button>
							<button class="delete ">
								<i class="ti-trash"></i>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<th:block th:replace="~{/layouts/pagination :: pagination}"></th:block>



</div>



<th:block th:replace="~{/settings/partials/footer :: footer}"></th:block>