<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<th:block th:fragment="feature_organizations">

		<section class="section-sm">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 mx-auto text-center">
						<h2 class="mb-5">Our Recipes Have Been Featured On</h2>
						<ul class="list-inline logo-list">
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/foodnetwork.png"
									alt="Food Network"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/bbcgoodfood.png"
									alt="BBC Good Food"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/tastemade.png"
									alt="Tastemade"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/delish.png"
									alt="Delish"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/thekitchion.png"
									alt="The Kitchion"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/masterchef.png"
									alt="MasterChef"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/epicurious.png"
									alt="Epicurious"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/yummly.png"
									alt="Yummly"></li>
							<li class="list-inline-item"><img class="img-fluid" src="/images/logos/saveur.png"
									alt="Saveur"></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

	</th:block>
</body>

</html>