<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="popular_books">
		<section class="section-sm">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<h2 class="mb-5">Popular Recipes From Our Community</h2>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card border-0 rounded-0 text-center shadow-none overflow-hidden">
							<a href="#!">
								<div class="book-cover">
									<img src="images/books/01.jpg" alt="Chocolate Cake" class="card-img-top rounded-0">
								</div>
								<div class="card-body">
									<h4 class="text-uppercase mb-3">Chocolate Fudge Cake</h4>
									<p class="h4">Dessert</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card border-0 rounded-0 text-center shadow-none overflow-hidden">
							<a href="#!">
								<div class="book-cover">
									<img src="images/books/02.jpg" alt="Pasta Dish" class="card-img-top rounded-0">
								</div>
								<div class="card-body">
									<h4 class="text-uppercase mb-3">Creamy Alfredo Pasta</h4>
									<p class="h4">Main Course</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card border-0 rounded-0 text-center shadow-none overflow-hidden">
							<a href="#!">
								<div class="book-cover">
									<img src="images/books/03.jpg" alt="Salad Bowl" class="card-img-top rounded-0">
								</div>
								<div class="card-body">
									<h4 class="text-uppercase mb-3">Fresh Greek Salad</h4>
									<p class="h4">Healthy</p>
								</div>
							</a>
						</div>
					</div>

					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="card border-0 rounded-0 text-center shadow-none overflow-hidden">
							<a href="#!">
								<div class="book-cover">
									<img src="images/books/04.jpg" alt="Pizza Slice" class="card-img-top rounded-0">
								</div>
								<div class="card-body">
									<h4 class="text-uppercase mb-3">Margherita Pizza</h4>
									<p class="h4">Italian</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
    </th:block>
</body>
</html>